.main-color {
    --main-bg-color: #61CE70;
}

.headerjpg {
    background-image: url(../../slider-one.jpg);
    display: flex;
    background-size: cover;
    height:500px;
    color:white;
}
.presentation-header {
    display: block;
    margin-left: 50%;
    margin-right: auto;
    margin-top:100px;
    width:400px;
}
hr {
    color: white;
    height: 2px;
    background-color: white;
}
.main-color {
    margin-top:5px;
    padding:5px;
    background-color: var(--main-bg-color);
}
.cards svg {
    width: 43px;
    margin-left: 31px;
    margin-top: 33px;
}

.cards {
    width: 200px;
}

.skills {
    display: flex;
    justify-content: space-around;
}

h3 {
    margin:0;
}
p {
    margin:0;
 }