body{
    margin:0;
}
a {
    text-decoration:none!important;
    color:black!important;
}
/*Accueil entête*/
.head {
    background-color: #2d3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    font-size: 10px;
}
.account {
    background-color: #61CE70;
    padding:14px;
}
.logoprogfacil {
    height:45px;
}
nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.body2 {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 60px;
}

.footer2 {
    display: flex;
    justify-content: center;
    background-color: #2d3e50;
    color: white;
}

