body{
    margin:0;
}
p {
    text-align:justify;
}
a {
    text-decoration:none!important;
    color:black!important;
}
.white {
    color: white!important;
}
/*Accueil entête*/
.head {
    background-color: #2d3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    font-size: 10px;
}
.account {
    background-color: #61CE70;
    padding:14px;
}
.logoprogfacil {
    height:45px;
}
nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.body2 {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align:center;
}

.footer2 {
    display: flex;
    justify-content: center;
    background-color: #2d3e50;
    color: white;
}

.footerp {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    background-color: #2d3e50;
}

.menuphone {
    display: none;
}


@media only screen and (max-width: 600px) {
    .menuphone {
        display: block;
        border: none;
        float: right;
        list-style: none;
    }
    .imgphone {
        width:70px;
    }
    .nonep {
        display: none;
    }
    .about {
        display:block!important;
    }
    .body2 {
        width:100%;
    }
    .abouttxt2 {
        margin:0;
        padding:0!important;
    }
    .img1 {
        margin-bottom: 20px;
        margin-top: 20px;
        height: auto !important;
        width: 87%;
    }
    .tuto1 {
        width:100%!important;
    }
    .presentation-header {
        margin-left:0px!important;
    }
    .cards {
        width:100%!important;
    }


    }