body{
    margin:0;
}
a {
    text-decoration:none!important;
    color:black!important;
}
/*Accueil entête*/
.head {
    background-color: #2d3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.account {
    background-color: #61CE70;
    padding:14px;
}
.logoprogfacil {
    width:60px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
    color:black;
}
.body2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

